html, body {
    /* height: 100%; */
}

td#layer_banner:hover {
    background-color: rgba(43, 121, 124, 0.787) !important;
}

a#layer_button {
    color: #212529;
}

#pequod_menu {
    background-color: rgb(52, 145, 148) !important;
}

.container-fluid {
    /* min-height: 100%; */
    /* overflow: hidden; */
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #3d3d3d;
    border-radius: 30px;
    padding: 10px;
    width: 90%;
}
.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 450px;
    caret-color:transparent;
    line-height: 40px;
}
.searchbar > .search_icon{
background: white;
color: #e74c3c;
}
.search_icon{
height: 40px;
width: 40px;
float: right;
justify-content: center;
align-items: center;
border-radius: 50%;
color:white;
text-decoration:none;
}